<div style="padding: 2rem 2rem 0 2rem">
    <div class="toggle-switch">
        <input id="color-theme-changer" type="checkbox" class="switch" onchange="changeTheme()"/>
        <label for="color-theme-changer">Dark  mode</label>
    </div>
</div>


<div style="padding: 2rem 2rem 0 2rem">
    
    <div class="toggle-switch red">
        <input id="st1" type="checkbox" class="switch"/>
        <label for="ts1">Default switch input</label>
    </div>
    
    <!-- outline -->
    <div class="toggle-switch">
        <input id="ts5" type="checkbox" class="switch outline" checked/>
        <label for="ts5">Outline Switch Default </label>
    </div>
    <!-- medium size -->
    <div class="toggle-switch md">
        <input id="s2d" type="checkbox" class="switch" checked/>
        <label class="s2d" for="s2d">medium size switch</label>
    </div>
    <!-- large size -->
    <div class="toggle-switch turquoise lg">
        <input id="s2d" type="checkbox" class="switch" checked/>
        <label class="s2d" for="s2d">Large size switch</label>
    </div>
</div>

<div style="padding: 2rem 2rem 0 2rem">
    <!-- primary color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch" checked/>
        <label for="s2d">Switch primary</label>
    </div>
    <!-- secondary color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch secondary" checked/>
        <label for="s2d">Switch secondary</label>
    </div>
    <!-- secondary2 color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch secondary2" checked/>
        <label for="s2d">Switch secondary2</label>
    </div>
    <!-- success color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch success" checked/>
        <label for="s2d">Switch secondary2</label>
    </div>
    <!-- danger color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch danger" checked/>
        <label for="s2d">Switch danger</label>
    </div>
    <!-- warning color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch warning" checked/>
        <label for="s2d">Switch warning</label>
    </div>
    <!-- info color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch info" checked/>
        <label for="s2d">Switch info</label>
    </div>
    <!-- dark color -->
    <div class="toggle-switch">
        <input id="s2d" type="checkbox" class="switch dark" checked/>
        <label for="s2d">Switch dark</label>
    </div>
</div>


<script>
 let trans = () => {
        document.documentElement.classList.add('transition');
        window.setTimeout(() => {
            document.documentElement.classList.remove('transition');
        }, 1000)
    }
function changeTheme() {
     
    let chkbox = document.getElementById('color-theme-changer');
    if(chkbox.checked) {
        trans()
        document.documentElement.setAttribute('color-theme', 'dark')
    } else {
        trans()
        document.documentElement.setAttribute('color-theme', 'light')
    }
}
</script>
<script src="js/forms.js"></script>