<div style="height:20px"></div>
<div class="tab-nav-wrapper" style="height: 100%">
<div class="tab-nav">
    <nav class="col-5 col-size-120">
        <a subid="tab_one" class="tab-button">Toggle switch</a>
        <a subid="tab_two" class="tab-button">Radio buttons</a>
        <a subid="tab_three" class="tab-button">Checkbox</a>
        <a subid="tab_four" class="tab-button">Input fields</a>
        <a subid="tab_five" class="tab-button active">Alerts</a>
    </nav>
</div>
<div id="tab_one" class="tab-sub">
    <div style="padding: 2rem 2rem 0 2rem">
        <div class="toggle-switch">
            <input id="color-theme-changer" type="checkbox" class="switch" onchange="changeTheme()"/>
            <label for="color-theme-changer">Dark mode</label>
        </div>
    </div>

    @* TOGGLE SWITCHES *@
    <div style="padding: 2rem 2rem 0 2rem">
        <div class="toggle-switch red">
            <input id="ts6" type="checkbox" class="switch" checked/>
            <label class="ts6" for="s2d">medium size switch</label>
        </div>

        <div class="toggle-switch green outline">
            <input id="ts5" type="checkbox" class="switch outline" checked/>
            <label for="ts5">Outline Switch Default </label>
        </div>

        <div class="toggle-switch yellow md">
            <input id="ts6" type="checkbox" class="switch" checked/>
            <label class="ts6" for="s2d">medium size switch</label>
        </div>

        <div class="toggle-switch turquoise lg">
            <input id="ts7" type="checkbox" class="switch" checked/>
            <label class="ts7" for="s2d">Large size switch</label>
        </div>
    </div>
</div>
<div id="tab_two" class="tab-sub">
    @* RADIO BUTTONS *@
    <div style="padding: 2rem 2rem 0 2rem">
        <div class="form-radio ">
            <input type="radio" id="radio-3" name="radio-group-1" disabled/>
            <label for="radio-3">Disabled Radio</label>
        </div>
        <div class="form-radio">
            <input type="radio" class="red" id="radio-11" name="radio-group-2"/>
            <label for="radio-11">Radio Primary</label>
        </div>
        <!--  Radio Secondary-->
        <div class="form-radio">
            <input
                type="radio"
                class="green"
                id="radio-12"
                name="radio-group-2" checked/>
            <label for="radio-12">Radio Secondary</label>
        </div>
    </div>

    <div style="padding: 2rem 2rem 0 2rem">
        <div class="form-radio">
            <input type="radio" class="primary outline" id="radio-21" name="radio-group"/>
            <label for="radio-21">Outline Radio Primary</label>
        </div>
        <!--  Radio Secondary-->
        <div class="form-radio">
            <input checked
                   type="radio"
                   class="yellow outline"
                   id="radio-22"
                   name="radio-group"/>
            <label for="radio-22">Outline Radio Secondary</label>
        </div>
        <!--  Radio Secondary2-->
        <div class="form-radio">
            <input
                type="radio"
                class="blue outline"
                id="radio-23"
                name="radio-group"/>
            <label for="radio-23">Outline Radio Secondary 02</label>
        </div>
    </div>
</div>
<div id="tab_three" class="tab-sub">
    <div style="padding: 2rem 2rem 0 2rem">
        <!-- Checkbox  -->
        <div class="form-check">
            <input
                class="check-input red"
                id="checkbox-1"
                type="checkbox"
                value="value1"/>
            <label class="check-label" for="checkbox-1">Default checkbox</label>
        </div>
        <!-- Checkbox  checked -->
        <div class="form-check primary">
            <input
                class="check-input"
                id="checkbox-2"
                type="checkbox"
                value="value1"
                checked/>
            <label class="check-label" for="checkbox-2">Checked checkbox</label>
        </div>
        <!-- Checkbox  disabled-->
        <div class="form-check">
            <input
                class="check-input only-disabled"
                id="checkbox-3"
                type="checkbox"
                value="value1"
                disabled/>
            <label class="check-label" for="checkbox-3">Disabled checkbox</label>
        </div>
        <!-- Checkbox  disabled-->
        <div class="form-check">
            <input
                class="check-input"
                id="checkbox-4"
                type="checkbox"
                value="value1"
                disabled
                checked/>
            <label class="check-label" for="checkbox-4">
                Disabled checked checkbox
            </label
            >
        </div>
        <!-- outline -->
        <div class="form-check">
            <input
                class="check-input outline"
                id="checkbox-7"
                type="checkbox"
                value="value1"
                checked/>
            <label class="check-label" for="checkbox-7">Outline Checkbox</label>
        </div>
    </div>
</div>
<div id="tab_four" class="tab-sub">
    <div style="padding: 2rem 2rem 0 2rem">
        <!-- disabled -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field">
                <input type="email" id="text-field-1" disabled/>
            </div>
        </div>
        <!-- placeholder -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field">
                <input type="email" placeholder="Placeholder" id="text-field-1"/>
            </div>
        </div>
        <!-- rounded -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field rounded">
                <input type="text" id="text-field-1"/>
            </div>
        </div>
        <!-- icon left-->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field icon-left">
                <input type="text" id="text-field-1"/>
                <div class="form-icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
        </div>
        <!-- icon right-->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field icon-right">
                <input type="text" id="text-field-1"/>
                <div class="form-icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
        </div>
        <!-- password -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field icon-right">
                <input type="password" class="passwordclass" id="passFormId"/>
                <div
                    class="form-icon passwordShowHide"
                    onclick="passwordController()">
                    <i class="fa-regular fa-eye" id="passwordIcon"></i>
                    <i class="d-none fa-regular fa-eye-slash" id="passwordIcon2"></i>
                </div>
            </div>
        </div>
        <!-- date and time picker -->
        <!-- date and time picker -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field">
                <input
                    type="datetime-local"
                    name="meeting-time"
                    value="2018-06-12T19:30"
                    min="2018-06-07T00:00"
                    max="2018-06-14T00:00"/>
            </div>
        </div>
        <!-- Example Textarea -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field">
                <textarea name="" id="" cols="100" rows="10"></textarea>
            </div>
        </div>
        <!-- Color picker  -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field icon-right custom-color-picker">
                <input
                    type="text"
                    class="Circular colorPicker"
                    value="#3AAFC3"
                    data-coloris/>
                <div class="form-icon colorPickerBtn">
                    <i class="fa-light fa-fill-drip"></i>
                </div>
            </div>
        </div>
        <!-- image with dropdown -->
        <div class="custom-input-field">
            <h6 class="input-lavel">Basic Input Field</h6>
            <div class="input-field">
                <input id="phone" type="tel" name="phone"/>
            </div>
        </div>
        <!-- Custom select -->
        <div class="custom-select" style="width: 510px">
            <select>
                <option value="0">Select you country</option>
                <option value="1">Bangladesh</option>
                <option value="2">Russia</option>
                <option value="3">New York</option>
                <option value="4">Hong Kong</option>
                <option value="5">Spain</option>
            </select>
        </div>
        <!--one line upload files-->
        <div class="one-line-upload-file">
            <div class="file-upload">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noFile">No file chosen</div>
                    <input type="file" name="chooseFile" id="chooseFile"/>
                </div>
            </div>
        </div>
        <!--one line upload dropdown and files-->

        <div class="one-line-upload-file dropdown-and-files">
            <div class="custom-select" style="width: 150px">
                <select>
                    <option value="0">Dropdown</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">Russia</option>
                    <option value="3">New York</option>
                    <option value="4">Hong Kong</option>
                    <option value="5">Spain</option>
                </select>
            </div>
            <div class="file-upload">
                <div class="file-select">
                    <div class="file-select-name" id="noFile">No file chosen</div>
                    <input type="file" name="chooseFile" id="chooseFile"/>
                </div>
            </div>
        </div>

        <!-- button with dropdown -->
        <div class="button-with-dropdown">
            <button>Dropdown</button>
            <div class="custom-select">
                <select>
                    <option value="0">Select you country</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">Russia</option>
                    <option value="3">New York</option>
                    <option value="4">Hong Kong</option>
                    <option value="5">Spain</option>
                </select>
            </div>
        </div>
        <!--upload files large -->
        <div class="cus-upload">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">Upload File</label>
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <p>Drop files here or click to upload.</p>
                        </div>
                        <input type="file" name="img_logo" class="dropzone"/>
                    </div>
                </div>
            </form>
        </div>
        <!--upload files small -->
        <div class="cus-upload small">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">Upload File</label>
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <p>Drop files here or click to upload.</p>
                        </div>
                        <input type="file" name="img_logo" class="dropzone"/>
                    </div>
                </div>
            </form>
        </div>
        <!--upload files rounded -->
        <div class="cus-upload small rounded">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">Upload File</label>
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <p>Drag & Drop your picture or Browse</p>
                        </div>
                        <input type="file" name="img_logo" class="dropzone"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="tab_five" class="tab-sub">
        <!--  Primary alert -->
        <div class="alert primary-alert bg-gray show">
          <p class="content dark-title">
            <b >Hi!</b> A simple <b>Primary alert</b>- check it out!
          </p>
        </div>
        <!--  secondary alert -->
        <div class="alert primary-alert secondary-alert show">
          <p class="content">
            <b>How are you!</b> A simple <b>secondary alert</b>- check it out!
          </p>
        </div>
        <!--  success alert  -->
        <div class="alert primary-alert success-alert show">
          <p class="content">
            <b>Yup! Everything Worked! </b>A simple <b>success alert</b> - check it
            out!
          </p>
        </div>
        <!--  danger alert  -->
        <div class="alert primary-alert danger-alert show">
          <p class="content">
            <b>Something is very wrong!</b>A simple <b>success alert</b> - check it
            out!
          </p>
        </div>
    
        <!-- ====================   2    ==================== -->
        <!-- Error alert -->
        <div class="alert box-alert error-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-xmark"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header">Error</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Warning alert -->
        <div class="alert box-alert warning-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-triangle-exclamation"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header">Warning</h5>
              <p>
                Looks like you’ve exceeded your limit.
                <a class="link" href="#">Need an upgrade?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Info alert -->
        <div class="alert box-alert info-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-info"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header">Info</h5>
              <p>
                We’ve updated a few things. Check the
                <a class="link" href="#"> Path notes!</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Success alert -->
        <div class="alert box-alert success-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-check"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header">Error</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- ====================   3    ==================== -->
        <!--Error  -->
        <div class="alert add-line error-alert show">
          <div class="alert-body">
            <div class="alert-icon extra-line">
              <div class="custom-line"></div>
              <i class="fa-sharp fa-solid fa-circle-xmark"></i>
            </div>
            <div class="alert-content">
              <h4 class="alert-header">Oh No! Something is wrong.</h4>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!--Warning  -->
        <div class="alert add-line warning-alert show">
          <div class="alert-body">
            <div class="alert-icon extra-line">
              <div class="custom-line"></div>
              <div class="icon-Avatar">
                <i class="fa-solid fa-triangle-exclamation"></i>
              </div>
            </div>
            <div class="alert-content">
              <h4 class="alert-header">Oh No! Something is wrong.</h4>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!--Info Alert  -->
        <div class="alert add-line info-alert show">
          <div class="alert-body">
            <div class="alert-icon extra-line">
              <div class="custom-line"></div>
              <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div class="alert-content">
              <h4 class="alert-header">We’ve updated a few things</h4>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!--Info success  -->
        <div class="alert add-line success-alert show">
          <div class="alert-body">
            <div class="alert-icon extra-line">
              <div class="custom-line"></div>
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="alert-content">
              <h4 class="alert-header">Yup! Everything if looking great</h4>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- ====================   4    ==================== -->
        <!-- Error alert -->
        <div class="alert box-alert error-alert all-bg show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-xmark"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Error</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Warning alert -->
        <div class="alert box-alert warning-alert all-bg show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-triangle-exclamation"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Warning</h5>
              <p>
                Looks like you’ve exceeded your limit.
                <a class="link" href="#">Need an upgrade?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Info alert -->
        <div class="alert box-alert all-bg info-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-info"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Info</h5>
              <p>
                We’ve updated a few things. Check the
                <a class="link" href="#"> Path notes!</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Success alert -->
        <div class="alert box-alert all-bg success-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <i class="fa-regular fa-circle-check"></i>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Error</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- ====================   5    ==================== -->
        <!-- Error alert -->
        <div class="alert box-alert error-alert extra-Avatar all-bg show">
          <div class="alert-body">
            <div class="alert-icon">
              <div class="icon-Avatar">
                <i class="fa-solid fa-circle-xmark"></i>
              </div>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Oh No! Something is wrong.</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Warning alert -->
        <div class="alert box-alert warning-alert extra-Avatar all-bg show">
          <div class="alert-body">
            <div class="alert-icon">
              <div class="icon-Avatar">
                <i class="fa-solid fa-triangle-exclamation"></i>
              </div>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Oh No! Something is wrong.</h5>
              <p>
                Looks like you’ve exceeded your limit.
                <a class="link" href="#">Need an upgrade?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Info alert -->
        <div class="alert box-alert all-bg extra-Avatar info-alert show">
          <div class="alert-body">
            <div class="alert-icon">
              <div class="icon-Avatar">
                <i class="fa-solid fa-circle-info"></i>
              </div>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Oh No! Something is wrong.</h5>
              <p>
                We’ve updated a few things. Check the
                <a class="link" href="#"> Path notes!</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Success alert -->
        <div class="alert box-alert all-bg success-alert extra-Avatar show">
          <div class="alert-body">
            <div class="alert-icon">
              <div class="icon-Avatar">
                <i class="fa-solid fa-shield-check"></i>
              </div>
            </div>
            <div class="alert-content">
              <h5 class="alert-header dark-title">Oh No! Something is wrong.</h5>
              <p>
                That password isn’t right. Can we help you
                <a class="link" href="#">recover your password?</a>
              </p>
            </div>
            <div class="close-alert">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <!-- Javascript -->
        <script src="alert.js"></script>
</div>
</div>


<script>
 let trans = () => {
        document.documentElement.classList.add('transition');
        window.setTimeout(() => {
            document.documentElement.classList.remove('transition');
        }, 1000)
    }
    
    // Which tab is active by default?
    $('.tab-button.active').each(function() {
        const $subID = $(this).attr('subid');
       $('#' + $subID).addClass('active');
    });
    
    
    $('.tab-nav').each(function() {
        $(this).on('click', 'a', function(e){
            $(this).addClass('active').siblings().removeClass('active');
        });
    });
    tabSwitcher();
function changeTheme() {
    let chkbox = document.getElementById('color-theme-changer');
    if(chkbox.checked) {
        trans()
        document.documentElement.setAttribute('color-theme', 'dark')
    } else {
        trans()
        document.documentElement.setAttribute('color-theme', 'light')
    }
}

function tabSwitcher() {
   const $tabButton = $('.tab-nav');
   
   $($tabButton).each(function() {
       $(this).on('click', 'a', function(e){
           const subID = $(this).attr('subid');
           const $parentTabEl = $(this).closest('.tab-nav-wrapper');
           
           const currentSubEl = $($parentTabEl).find('.tab-sub.active');
           const nextSubEl = $($parentTabEl).find('#' + subID);
           const serverLink = $(this).attr('serverlink');
           
           //$(subEl).removeClass('tab-transition-in');
           if (typeof serverLink !== 'undefined' && serverLink !== false) {
           // $.ajax({
           //                type: "POST", url: "/home/getpage", data: {idf: 'contact', uid: uid},
           //                beforeSend: function () {
           //                    $($mainpage).addClass('tab-transition-out');
           //                },
           //                success: function (returndata) {
           //                    setTimeout(
           //                        function () {
           //                            //$($mainpage).removeClass('tab-transition-out');
           //                            //$($mainpage).addClass('tab-transition-in');
           //                            //$mainpage.html(returndata);
           //                            //runFunction(uid + '_func');
           //                        }, 200); // Same time as animation effect
           //                }
           //            });    
           }
           else {
               $(currentSubEl).removeClass('tab-transition-in');
               $(currentSubEl).addClass('tab-transition-out');
                 setTimeout(
                     function () {
                         $(currentSubEl).removeClass('active');
                         $(nextSubEl).removeClass('tab-transition-out');
                         $(nextSubEl).addClass('tab-transition-in');
                         $(nextSubEl).addClass('active');
                         
                         //$mainpage.html(returndata);
                         //runFunction(uid + '_func');
                     }, 60); // Same time as animation effect
           }
               
       });
   });
}
</script>
<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
      const phoneInputField = document.querySelector("#phone");
      const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",});
    </script>
<script src="js/forms.js"></script>