<div style="padding: 2rem 2rem 0 2rem">
    <div class="toggle-switch">
        <input id="color-theme-changer" type="checkbox" class="switch" onchange="changeTheme()"/>
        <label for="color-theme-changer">Dark mode</label>
    </div>
</div>

<div style="padding: 2rem 2rem 0 2rem">
    <div class="toggle-switch red">
        <input id="ts6" type="checkbox" class="switch" checked/>
        <label class="ts6" for="s2d">medium size switch</label>
    </div>
    
    <div class="toggle-switch green outline">
        <input id="ts5" type="checkbox" class="switch outline" checked/>
        <label for="ts5">Outline Switch Default </label>
    </div>

    <div class="toggle-switch yellow md">
        <input id="ts6" type="checkbox" class="switch" checked/>
        <label class="ts6" for="s2d">medium size switch</label>
    </div>

    <div class="toggle-switch turquoise lg">
        <input id="ts7" type="checkbox" class="switch" checked/>
        <label class="ts7" for="s2d">Large size switch</label>
    </div>
</div>

@* RADIO BUTTONS *@
<div style="padding: 2rem 2rem 0 2rem">
     <div class="form-radio ">
            <input type="radio" id="radio-3" name="radio-group-1" disabled/>
            <label for="radio-3">Disabled Radio</label>
        </div>
    <div class="form-radio">
        <input type="radio" class="red" id="radio-11" name="radio-group-2"/>
        <label for="radio-11">Radio Primary</label>
    </div>
    <!--  Radio Secondary-->
    <div class="form-radio">
        <input
            type="radio"
            class="green"
            id="radio-12"
            name="radio-group-2" checked/>
        <label for="radio-12">Radio Secondary</label>
    </div>
</div>

<div style="padding: 2rem 2rem 0 2rem">
    <div class="form-radio">
        <input type="radio" class="primary outline" id="radio-21" name="radio-group"/>
        <label for="radio-21">Outline Radio Primary</label>
    </div>
    <!--  Radio Secondary-->
    <div class="form-radio">
        <input checked
            type="radio"
            class="yellow outline"
            id="radio-22"
            name="radio-group"/>
        <label for="radio-22">Outline Radio Secondary</label>
    </div>
    <!--  Radio Secondary2-->
    <div class="form-radio">
        <input
            type="radio"
            class="blue outline"
            id="radio-23"
            name="radio-group"/>
        <label for="radio-23">Outline Radio Secondary 02</label>
    </div>
</div>

<script>
 let trans = () => {
        document.documentElement.classList.add('transition');
        window.setTimeout(() => {
            document.documentElement.classList.remove('transition');
        }, 1000)
    }
function changeTheme() {
     
    let chkbox = document.getElementById('color-theme-changer');
    if(chkbox.checked) {
        trans()
        document.documentElement.setAttribute('color-theme', 'dark')
    } else {
        trans()
        document.documentElement.setAttribute('color-theme', 'light')
    }
}
</script>
<script src="js/forms.js"></script>