@import "wwwroot/scss/default.scss";

.uniqly {
  overflow: hidden;
  height: 100vh;

  .main-wrapper {
    overflow: hidden;
    display: flex;

    & .login-text {
      color: var(--topbar-text);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
      margin-right: 0;
      padding: 10px;
    }

    .sidebar {
      width: 270px;
      border-right: 1px solid var(--sidebar-border-color);
      transition: width 0.5s ease-in-out;
      background-color: var(--sidebar-background-color);

      .side-nav .side-nav-items .side-nav-item .nav-link {
        transition: all .1s ease-in-out;

        &:hover {
          cursor: pointer;
          color: var(--sidebar-navitem-text-active);
          background: var(--sidebar-navitem-hover);
        }
      }

      @include media("<tablet") {
        position: absolute;
        margin-left: -270px;
        z-index: 9999;
      }

      .nav-text {
        font-size: 13px;
      }

      .brand-sec {
        .company-name {
          font-weight: 600;
          color: var(--white-color);
          @include media("<tablet") {
            display: none;
          }
        }

        @include media("<tablet") {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 14px 10px 14px 20px;
        }

        .bars-icon {
          svg {
            width: 16px;
            height: 16px;
            color: var(--white-color);
            padding: 10px;
            transition: all 0.2s ease-in;
            cursor: pointer;

            &:hover {
              color: var(--gray-700);
            }
          }

          @include media(">=tablet") {
            display: none;
          }
        }

        background: var(--secondary2-color);
        width: 100%;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;

        .large-logo {
          width: 84px;
          height: 34px;

        }

        .small-logo {
          display: none;
          @include media("<tablet") {
            display: none;
          }
        }
      }

      .side-nav {
        height: 94vh;
        overflow-y: auto;

        .side-nav-items {
          margin: 0;
          padding: 30px 20px;
          list-style: none;

          .side-nav-item {
            position: relative;
            min-height: 50px;
            width: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
            transition: all 0.6s ease;
            
            
            margin: 0 0 5px 0;

            .nav-link {
              display: flex;
              border-radius: 6px;
              padding: 14px 12px 13px 14px;
              color: var(--gray-100);
              text-decoration: none;
              gap: 12px;
              position: absolute;
              top: 0;
              left: 0;
              height: 50px;
              width: 100%;
              z-index: 999;
              background-color: var(--sidebar-nav-item-bg);
              justify-content: center;
              align-items: center;

              svg {
                width: 18px;
                height: 18px;
              }

              .extra-nav-con {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .badge-icon {
                  display: flex;
                  align-items: center;

                  svg {
                    color: var(--gray-200);
                    width: 16px;
                    height: 16px;
                    transition: all .2s;
                  }

                  // position: relative;
                  .nav-badge {
                    margin-right: 10px;
                    font-weight: 600;
                    font-size: 11px;
                    color: #ffffff;
                    background: var(--gray-100);
                    width: auto;
                    padding: 2px 4px;
                    border-radius: 3px;
                  }
                }
              }
            }

            .sidenav-submenu {
            //margin-top: -79px;
              margin-top: -100%;
              padding: 0;
              transition: all 0.75s ease;
              list-style: none;
             
              .nav-item {
                display: inline-block;
                width: 100%;
                padding: 12px 20px 12px 44px;
                margin-bottom: -4px;
                
                a {
                  width: 100%;
                  height: 13px;

                  display: inline-block;
                  font-size: var(--small-font-size);
                  text-decoration: none;
                  color: var(--gray-100);
                  overflow: hidden;
                }

                &:hover {
                  cursor: pointer;
                  a {
                    color: var(--sidebar-navitem-text-active) !important;
                  }
                }

                &:first-child {
                  margin-top: 10px;
                }

                &.active {
                  a {
                    color: var(--white-color);
                    font-weight: 600;
                  }
                }
              }
            }

            &.active {
              .sidenav-submenu {
                display: block;
                list-style: none;
                width: 100%;
                margin-top: 50px;
                
                .nav-item {
                  a {
                    width: 100%;
                    display: inline-block;
                    font-size: var(--small-font-size);
                    text-decoration: none;
                    color: var(--gray-100);
                  }

                  &:first-child {
                    margin-top: 10px;
                  }

                  &.active {
                    a {
                      color: var(--white-color);
                      font-weight: 600;
                    }
                  }
                }
              }
            }

            &.active .nav-link {
              background: var(--sidebar-navitem-active);
              color: var(--white-color);

              .extra-nav-con {
                .badge-icon {

                  .fa-angle-right {
                    transform: rotate(90deg);
                  }
                }

                .badge-icon {
                  svg {
                    color: var(--white-color);
                  }
                }
              }
            }
          }

          //   COMPONENTS text
          .side-nav-text {
            font-size: 12px;
            font-weight: 600;
            color: var(--sidebar-divider-text);
            padding-top: 10px;
            border-top: 1px solid var(--sidebar-divider);
            margin-top: 10px;
            margin-bottom: 4px;
          }

          .side-nav-text-short {
            display: none;
          }
        }
      }

      //  width reduce
      &.width-reduce {
        width: 100px;
        @include media("<tablet") {
          width: 270px;
          margin-left: 0;
        }

        .side-nav {
          .side-nav-items {
            padding: 30px 17px;

            .side-nav-item .nav-link {
              padding: 16px 24px;


              .extra-nav-con {
                display: none;
                @include media("<tablet") {
                  display: flex;
                }
              }
            }

            //   COMPONENTS text
            .side-nav-text {
              display: none;
              @include media("<tablet") {
                display: block;
              }
            }

            .side-nav-text-short {
              display: block;
              font-size: 11px;
              font-weight: 600;
              padding-top: 10px;
              border-top: 1px solid var(--gray-700);
              margin-top: 10px;
              margin-bottom: 4px;
              @include media("<tablet") {
                display: none;
              }
            }
          }
        }

        .brand-sec {
          .company-name {
            display: none;
          }

          @include media("<tablet") {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 10px 14px 20px;
          }

          .large-logo {
            display: none;
            @include media("<tablet") {
              display: block;
            }
          }

          .small-logo {
            display: block;
            @include media("<tablet") {
              display: none;
            }
          }
        }

        .side-nav {
          .side-nav-items {
            .side-nav-item {
              &.active {

                .sidenav-submenu {
                  display: none;
                  @include media("<tablet") {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }

    .main-body {
      background: #FAFAFA;
      flex-grow: 1;
      // height: 100vh;
      .topbar {
        background: var(--sidebar-background-color);
        width: 100%;
        height: 62px;
        display: flex;
        border-bottom: 1px solid var(--sidebar-border-color);

        .topbar-left {
          display: flex;

          .bars-icon {
            padding-top: 9px;
            padding-left: 32px;
            padding-right: 32px;

            .fa-bars {
              display: none;
            }

            .fa-arrow-right {
              display: block;
            }

            &.add-fa-bars {
              .fa-bars {
                display: block;
              }

              .fa-arrow-right {
                display: none;
              }
            }

            svg {
              width: 24px;
              height: 24px;
              color: var(--gray-400);
              padding: 10px;
              border-radius: 50%;
              border: 1px solid rgba(0,0,0,0);
              transition: all 0.2s ease-in;
              cursor: pointer;

              &:hover {
                border: 1px solid var(--sidebar-border-color);
                background: var(--sidebar-divider);
              }
            }
          }

          .search-bar {
            padding-top: 8px;
            color: var(--topbar-search-text);

            & input {
              background-color: var(--topbar-search-bg);

            }

            @include media("<tablet") {
              display: none;
            }
          }
        }

        .topbar-right {
          display: flex;
          align-items: center;
          margin-left: auto;

          .profile-pic {
            width: 32px;
            height: 32px;
            background: var(--gray-700);
            border-radius: 50%;

            img {
              border-radius: 50%;
              background-repeat: no-repeat;
              background-size: cover;
            }

            margin-right: 26px;
          }

          .topbar-badge {

            padding-right: 26px;

            .user-text {
              font-size: 12px;
            }

            &:last-child {
              padding-right: 30px;
            }
          }
        }
      }

      // contentbody
      .content-body {
        width: 100%;
        height: 94vh;
        display:block;
        background-color: var(--background-color);
        overflow-y: scroll;
      }
    }
  }

  //badge
  .icon-badge {
    position: relative;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      color: var(--gray-400);
    }

    .badge-text {
      position: absolute;
      top: -8px;
      left: 12px;
      min-width: 18px;
      min-height: 18px;
      z-index: 99;
      border-radius: 800px;
      font-size: 11px;
      font-weight: 600;
      padding: 3px;
      color: var(--white-color);
      background: var(--sidebar-badge-bg-red);
      outline: 2px solid var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //
}
