@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-wrapper">
    
    @await Component.InvokeAsync("HomeSidebar")
     <div class="main-body">
      @await Component.InvokeAsync("HomeTopbar")
        <!--*********************************
        content  body
        **********************************-->
        <div class="content-body"></div>
    </div>
    <script src="js/sidebar.js"></script>

</div>