<div class="top-appbar">
    <div class="top-app-left">
        <div class="bars-icon add-fa-bars">
            <i class="fa-light fa-bars"></i>
            <i class="fa-light fa-arrow-right"></i>
        </div>
        <div class="custom-input-field search-bar">
            <div class="input-field icon-left">
                <input type="text" id="text-field-1"/>
                <div class="form-icon">
                    <i class="fa-regular fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="top-app-right">
        <div class="top-appbar-badge">
            <p>Shervin Moghaddam</p>
        </div>
        <div class="top-appbar-badge">
            <div class="icon-badge">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>
    </div>
</div>