@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --body-font: "Poppins", sans-serif;
  --heading-font: "Anton", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --normal-font-size: 14px;
  --small-font-size: 13px;
  --smaller-font-size: 12px;
}
@media screen and (min-width: 992px) {
  :root {
    --normal-font-size: 13px;
    --small-font-size: 12px;
    --smaller-font-size: 12px;
  }
}

*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray-100);
  font-weight: 600;
}

.h4,
h4 {
  font-size: 18px;
  line-height: 20px;
}

.h5,
h5 {
  font-size: 16px;
  line-height: 20px;
}

button {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-secondary2 {
  background: var(--secondary2-color) !important;
}

.bg-success {
  background: var(--success-color) !important;
}

.bg-danger {
  background: var(--danger-color) !important;
}

.bg-warning {
  background: var(--warning-color) !important;
}

.bg-info {
  background: var(--info-color) !important;
}

.bg-light {
  background: var(--light-color) !important;
}

.bg-dark {
  background: var(--dark-color) !important;
}

.d-none {
  display: none;
}

html[color-theme=dark] {
  --global-turquoise: #3AAFC3;
  --global-red: #EB5757FF;
  --global-green: #27AE60FF;
  --global-yellow: #e2b93b;
  --global-blue: #2f80ed;
  --global-primary: #ffffff;
  --global-secondary: #000000;
  --toggle-switch-border: #e5e6e9;
  --toggle-switch-disabled: #e5e6e9;
  --toggle-switch-switch: #ffffff;
  --radio-button-unchecked: #3c3c3c;
  --sidebar-border-color: #292932;
  --sidebar-navitem-hover: #292932FF;
  --sidebar-navitem-active: var(--global-turquoise);
  --sidebar-background-color: #1C1C24;
  --sidebar-nav-item-bg: var(--sidebar-border-color);
  --sidebar-navitem-text-active: var(--global-turquoise);
  --sidebar-divider-text: #696974;
  --sidebar-divider: var(--sidebar-border-color);
  --sidebar-badge-bg-red: #ec6432;
  --topbar-search-bg: #13131A;
  --topbar-text: #696974;
  --topbar-search-text: var(--topbar-text);
  --background-color: #13131A;
  --gray-100: #FAFAFB;
  --gray-200: #92929D;
  --gray-300: #7d8597;
  --gray-400: #44444F;
  --gray-500: #34343C;
  --gray-600: #292932;
  --gray-700: #292932;
  --gray-800: #13131a;
  --light-color: #e5f4f7;
  --dark-color: var(--gray-100);
  --body-color:var(--gray-800);
  --alert-bg-color: var(--gray-800);
  --popup-card-color:var(--gray-600);
  --popup-card-border-colo:var(--gray-800);
  --alert-allline-bg-color:var(--gray-500);
  --alert-title-color:#1C1C24;
}

:root {
  --global-turquoise: rgb(58, 175, 195);
  --global-red: #EB5757FF;
  --global-green: #27AE60FF;
  --global-yellow: #e2b93b;
  --global-blue: #2f80ed;
  --global-primary: #000000;
  --global-secondary: #ffffff;
  --toggle-switch-border: #e5e6e9;
  --toggle-switch-disabled: #e5e6e9;
  --toggle-switch-switch: #ffffff;
  --radio-button-unchecked: var(--white-color);
  --sidebar-border-color: #E5E6E9;
  --sidebar-navitem-hover: #E5F2F5;
  --sidebar-navitem-active: var(--global-turquoise);
  --sidebar-background-color: var(--white-color);
  --sidebar-nav-item-bg: var(--white-color);
  --sidebar-navitem-text-active: var(--black-color);
  --sidebar-divider-text: #D9D9D9;
  --sidebar-divider: #FAFAFA;
  --sidebar-badge-bg-red: #ec6432;
  --topbar-search-bg: var(--white-color);
  --topbar-text: var(--black-color);
  --topbar-search-text: #696974;
  --background-color: #FAFAFA;
  --primary-color: #33415c;
  --secondary-color: #3aafc3;
  --secondary2-color: #ec6432;
  --success-color: #27ae60;
  --danger-color: #eb5757;
  --warning-color: #e2b93b;
  --info-color: #2f80ed;
  --light-color: #e5f4f7;
  --dark-color: #001233;
  --text-color-primary: #ffffff;
  --text-color-invert: #000000;
  --gray-100: #33415c;
  --gray-200: #5c677d;
  --gray-300: #7d8597;
  --gray-400: #979dac;
  --gray-500: #c5c8d0;
  --gray-600: #e5e6e9;
  --gray-700: #fafafa;
  --body-color: #fafafa;
  --alert-bg-color: rgba(0, 18, 51, 0.86);
  --popup-card-color: #f1f9f4;
  --popup-card-border-colo:rgb(206, 230, 206) ;
}

html {
  --white-color: #ffffff;
  --black-color: #000000;
}

.uniqly .toggle-switch {
  margin-top: 7px;
  margin-bottom: 7px;
}
.uniqly .toggle-switch input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 33px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--toggle-switch-border);
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.uniqly .toggle-switch input[type=checkbox].outline {
  width: 38px;
  height: 20px;
}
.uniqly .toggle-switch input[type=checkbox].outline::after {
  width: 24px;
  height: 24px;
  top: -2px;
  left: -2px;
}
.uniqly .toggle-switch input[type=checkbox].outline:checked {
  border: 1px solid var(--toggle-switch-border);
}
.uniqly .toggle-switch input[type=checkbox].outline:checked:after {
  background: var(--toggle-switch-border);
}
.uniqly .toggle-switch input[type=checkbox].outline:checked {
  background: none;
}
.uniqly .toggle-switch input[type=checkbox].outline:disabled {
  border: 1px solid var(--toggle-switch-disabled);
}
.uniqly .toggle-switch input[type=checkbox].outline:disabled:checked::after {
  background: var(--toggle-switch-disabled);
}
.uniqly .toggle-switch input[type=checkbox]:after {
  content: "";
  display: block;
  left: 2px;
  top: 3px;
  right: 2px;
  position: absolute;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.uniqly .toggle-switch input[type=checkbox]:checked:after {
  background-color: var(--white-color);
}
.uniqly .toggle-switch input[type=checkbox] + label {
  font-size: 14px;
  color: var(--gray-100);
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}
.uniqly .toggle-switch .switch {
  width: 33px;
  border-radius: 11px;
}
.uniqly .toggle-switch .switch:after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: var(--gray-600);
  transform: translateX(var(--x, 0));
}
.uniqly .toggle-switch .switch:checked {
  --ab: var(--white-color);
  --x: 15px;
}
.uniqly .toggle-switch .switch:disabled:not(:checked):after {
  opacity: 0.6;
}
.uniqly .toggle-switch.md input[type=checkbox] {
  width: 45px;
  height: 26px;
}
.uniqly .toggle-switch.md .switch {
  border-radius: 800px;
}
.uniqly .toggle-switch.md .switch::after {
  width: 18px;
  height: 18px;
  left: 3px;
}
.uniqly .toggle-switch.md .switch:checked {
  --x: 18px;
}
.uniqly .toggle-switch.lg input[type=checkbox] {
  width: 57px;
  height: 32px;
}
.uniqly .toggle-switch.lg .switch {
  border-radius: 800px;
}
.uniqly .toggle-switch.lg .switch::after {
  width: 24px;
  height: 24px;
  left: 3px;
}
.uniqly .toggle-switch.lg .switch:checked {
  --x: 24px;
}
.uniqly .toggle-switch.turquoise.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-turquoise);
}
.uniqly .toggle-switch.turquoise.outline input[type=checkbox]:checked::after {
  background: var(--global-turquoise);
}
.uniqly .toggle-switch.red.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-red);
}
.uniqly .toggle-switch.red.outline input[type=checkbox]:checked::after {
  background: var(--global-red);
}
.uniqly .toggle-switch.yellow.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-yellow);
}
.uniqly .toggle-switch.yellow.outline input[type=checkbox]:checked::after {
  background: var(--global-yellow);
}
.uniqly .toggle-switch.green.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-green);
}
.uniqly .toggle-switch.green.outline input[type=checkbox]:checked::after {
  background: var(--global-green);
}
.uniqly .toggle-switch.blue.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-blue);
}
.uniqly .toggle-switch.blue.outline input[type=checkbox]:checked::after {
  background: var(--global-blue);
}
.uniqly .toggle-switch.primary.outline input[type=checkbox]:checked {
  background: var(--global-secondary);
  border: 1px solid var(--global-primary);
}
.uniqly .toggle-switch.primary.outline input[type=checkbox]:checked::after {
  background: var(--global-primary);
}
.uniqly .toggle-switch.turquoise input[type=checkbox]:checked {
  background: var(--global-turquoise);
}
.uniqly .toggle-switch.turquoise input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}
.uniqly .toggle-switch.red input[type=checkbox]:checked {
  background: var(--global-red);
}
.uniqly .toggle-switch.red input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}
.uniqly .toggle-switch.yellow input[type=checkbox]:checked {
  background: var(--global-yellow);
}
.uniqly .toggle-switch.yellow input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}
.uniqly .toggle-switch.green input[type=checkbox]:checked {
  background: var(--global-green);
}
.uniqly .toggle-switch.green input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}
.uniqly .toggle-switch.blue input[type=checkbox]:checked {
  background: var(--global-blue);
}
.uniqly .toggle-switch.blue input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}
.uniqly .toggle-switch.primary input[type=checkbox]:checked {
  background: var(--global-primary);
}
.uniqly .toggle-switch.primary input[type=checkbox]:checked::after {
  background: var(--toggle-switch-switch);
}

.form-radio {
  margin-top: 7px;
  margin-bottom: 7px;
}
.form-radio [type=radio]:checked,
.form-radio [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.form-radio [type=radio]:checked + label,
.form-radio [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--gray-100);
}
.form-radio [type=radio]:disabled + label {
  color: var(--gray-400);
}
.form-radio [type=radio]:checked + label:before,
.form-radio [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-600);
  border-radius: 100%;
  background: var(--radio-button-unchecked);
}
.form-radio [type=radio]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
.form-radio [type=radio]:checked + label::after,
.form-radio [type=radio]:not(:checked) + label::after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-secondary);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.form-radio [type=radio]:disabled + label:before {
  border: 1px solid var(--gray-600);
  background-color: var(--global-secondary);
}
.form-radio [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.form-radio [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.form-radio .turquoise.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-turquoise);
  background-color: var(--global-secondary);
}
.form-radio .turquoise.outline[type=radio]:checked + label:after,
.form-radio .turquoise.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-turquoise);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .red.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-red);
  background-color: var(--global-secondary);
}
.form-radio .red.outline[type=radio]:checked + label:after,
.form-radio .red.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-red);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .yellow.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-yellow);
  background-color: var(--global-secondary);
}
.form-radio .yellow.outline[type=radio]:checked + label:after,
.form-radio .yellow.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-yellow);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .green.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-green);
  background-color: var(--global-secondary);
}
.form-radio .green.outline[type=radio]:checked + label:after,
.form-radio .green.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-green);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .blue.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-blue);
  background-color: var(--global-secondary);
}
.form-radio .blue.outline[type=radio]:checked + label:after,
.form-radio .blue.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-blue);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .primary.outline[type=radio]:checked + label:before {
  border: 3px solid var(--global-primary);
  background-color: var(--global-secondary);
}
.form-radio .primary.outline[type=radio]:checked + label:after,
.form-radio .primary.outline[type=radio]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--global-primary);
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form-radio .turquoise:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-turquoise);
}
.form-radio .red:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-red);
}
.form-radio .yellow:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-yellow);
}
.form-radio .green:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-green);
}
.form-radio .blue:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-blue);
}
.form-radio .primary:not(.outline)[type=radio]:checked + label:before {
  border: none;
  background-color: var(--global-primary);
}

.uniqly .form-check {
  height: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
  font-size: 14px;
}
.uniqly .form-check .check-input {
  margin: 20px 0;
  position: absolute;
  opacity: 0;
  font-size: 14px;
}
.uniqly .form-check .check-input + .check-label {
  color: var(--gray-100);
  position: relative;
  left: 29px;
  cursor: pointer;
}
.uniqly .form-check .check-input + .check-label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #e5e6e9;
  border-radius: 4px;
  background: #ffffff;
  position: absolute;
  top: -2px;
  left: -29px;
}
.uniqly .form-check .check-input:checked + .check-label:before {
  background: var(--gray-100);
}
.uniqly .form-check .check-input:disabled + .check-label {
  color: var(--gray-400);
  cursor: auto;
}
.uniqly .form-check .check-input.only-disabled:disabled + .check-label:before {
  box-shadow: none;
  background: none;
}
.uniqly .form-check .check-input:disabled + .check-label:before {
  box-shadow: none;
  background: var(--gray-400);
}
.uniqly .form-check .check-input.outline:disabled + .check-label:before {
  box-shadow: none;
  background: none;
  border: 1px solid var(--gray-400);
}
.uniqly .form-check .check-input:checked + .check-label:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 7px;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 var(--global-primary), 4px 0 0 var(--global-primary), 4px -2px 0 var(--global-primary), 4px -4px 0 var(--global-primary), 4px -6px 0 var(--global-primary), 4px -8px 0 var(--global-primary);
  background: var(--global-primary);
  transform: rotate(45deg);
}
.uniqly .form-check .check-input.outline:disabled + .check-label:after {
  box-shadow: 2px 0 0 var(--global-secondary), 4px 0 0 var(--global-secondary), 4px -2px 0 var(--global-secondary), 4px -4px 0 var(--global-secondary), 4px -6px 0 var(--global-secondary), 4px -8px 0 var(--global-secondary);
  background: var(--global-secondary);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-turquoise);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-red);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-yellow);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-green);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-blue);
}
.uniqly .form-check .check-input.outline:checked + .check-label:before {
  background: none;
  border: 1px solid var(--global-primary);
}
.uniqly .form-check .check-input.turquoise:checked + .check-label:before {
  background: var(--global-turquoise);
}
.uniqly .form-check .check-input.red:checked + .check-label:before {
  background: var(--global-red);
}
.uniqly .form-check .check-input.yellow:checked + .check-label:before {
  background: var(--global-yellow);
}
.uniqly .form-check .check-input.green:checked + .check-label:before {
  background: var(--global-green);
}
.uniqly .form-check .check-input.blue:checked + .check-label:before {
  background: var(--global-blue);
}
.uniqly .form-check .check-input.primary:checked + .check-label:before {
  background: var(--global-primary);
}

.uniqly {
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}
.uniqly .tab-nav-wrapper .tab-nav {
  border-bottom: 1px solid var(--toggle-switch-border);
  width: fit-content;
  font-size: 14px;
}
.uniqly .tab-nav-wrapper .tab-nav nav {
  width: 20%;
  margin: auto;
  height: 30px;
  display: inline-grid;
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-2 {
  grid-template-columns: repeat(2, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-3 {
  grid-template-columns: repeat(3, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-4 {
  grid-template-columns: repeat(4, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-5 {
  grid-template-columns: repeat(5, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-6 {
  grid-template-columns: repeat(6, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-7 {
  grid-template-columns: repeat(7, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav.col-8 {
  grid-template-columns: repeat(8, minmax(100px, min-content));
}
.uniqly .tab-nav-wrapper .tab-nav nav a {
  transition: color 0.15s ease-in-out, border-color 0.1s linear;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  color: var(--global-primary);
  border-bottom: 4px solid rgba(58, 175, 195, 0);
}
.uniqly .tab-nav-wrapper .tab-nav nav a:hover {
  color: var(--global-turquoise);
  cursor: pointer;
}
.uniqly .tab-nav-wrapper .tab-nav nav a.active {
  color: var(--global-turquoise);
  border-bottom: 4px solid rgb(58, 175, 195);
}
.uniqly .heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.uniqly .input-title {
  margin-top: 25px;
  width: 100%;
  max-width: 200px;
  font-weight: 600;
  padding-bottom: 10px;
}
.uniqly .custom-input-field {
  margin-bottom: 30px;
}
.uniqly .custom-input-field .input-label {
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--gray-100);
  font-weight: 400;
}
.uniqly .input-field {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}
.uniqly .input-field textarea,
.uniqly .input-field input {
  color: var(--gray-100);
  display: block;
  width: 100%;
  border: 1px solid var(--gray-600);
  border-radius: 6px;
  padding: 15px 18px;
}
.uniqly .input-field textarea:focus,
.uniqly .input-field input:focus {
  border: 1px solid var(--gray-100);
  outline: none;
}
.uniqly .input-field textarea:disabled,
.uniqly .input-field input:disabled {
  background: var(--gray-700);
}
.uniqly .input-field.rounded input {
  border-radius: 800px;
  padding: 15px 24px;
}
.uniqly .input-field.icon-left {
  position: relative;
}
.uniqly .input-field.icon-left input {
  padding-left: 48px;
}
.uniqly .input-field.icon-left .form-icon {
  position: absolute;
  top: 13px;
  left: 18px;
}
.uniqly .input-field.icon-left .form-icon svg {
  width: 20px;
  height: 20px;
}
.uniqly .input-field.icon-right {
  position: relative;
}
.uniqly .input-field.icon-right input {
  padding-right: 48px;
}
.uniqly .input-field.icon-right .form-icon {
  position: absolute;
  top: 13px;
  right: 18px;
}
.uniqly .input-field.icon-right .form-icon svg {
  width: 20px;
  height: 20px;
}
.uniqly .input-field .error-text {
  font-weight: 400;
  color: #EB5757;
}
.uniqly .input-field .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #E5E6E9;
  border-radius: 6px;
  position: relative;
}
.uniqly .input-field .input-wrapper .icon {
  position: absolute;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 30%;
  width: 18px;
  height: 18px;
  height: 100%;
}
.uniqly .input-field .input-wrapper .icon:hover {
  cursor: pointer;
}
.uniqly .input-field .input-wrapper .icon.hide {
  display: none;
}
.uniqly .custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid var(--gray-600);
  border-radius: 6px;
}
.uniqly .custom-select select {
  display: none; /*hide original SELECT element:*/
}
.uniqly .select-selected {
  background-color: var(--whate-color);
}
.uniqly .select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--gray-400) transparent transparent transparent;
}
.uniqly .select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--gray-400) transparent;
  top: 13px;
}
.uniqly .select-items div,
.uniqly .select-selected {
  padding: 15px 18px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.uniqly .select-items {
  position: absolute;
  background-color: var(--white-color);
  top: 55px;
  left: 0;
  right: 0;
  z-index: 99;
  color: var(--gray-100);
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.08));
  border-radius: 4px;
}
.uniqly .select-items::after {
  position: absolute;
  content: "";
  top: -21px;
  left: 18px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-color: transparent transparent var(--white-color) transparent;
}
.uniqly .select-items div {
  padding: 12px 20px;
}
.uniqly .select-items div:first-child {
  padding-top: 22px;
}
.uniqly .select-items div:last-child {
  padding-bottom: 22px;
}
.uniqly .select-hide {
  display: none;
}
.uniqly .select-items div:hover,
.uniqly .same-as-selected {
  background-color: var(--gray-700);
  border-radius: 4px;
}
.uniqly .iti--allow-dropdown {
  width: 100%;
}
.uniqly .iti--allow-dropdown input {
  padding-left: 64px;
}
.uniqly .iti--allow-dropdown .iti__selected-flag {
  padding: 0 6px 0 18px;
}
.uniqly .button-with-dropdown {
  margin-top: 10px;
  display: flex;
}
.uniqly .button-with-dropdown .custom-select {
  flex-grow: 1;
}
.uniqly .button-with-dropdown button {
  background: var(--gray-100);
  color: var(--white-color);
  font-weight: 600;
  border-radius: 6px 0 0 6px;
  padding: 15px 18px;
}
.uniqly .d-none {
  display: none;
}
.uniqly .clr-field {
  width: 100%;
  display: inline-block;
  position: relative;
  color: transparent;
}
.uniqly .clr-field button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  color: inherit;
  text-indent: -1000px;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.uniqly .input-field.icon-right.custom-color-picker input {
  padding-left: 48px;
  padding-right: 38px;
}
.uniqly .cus-upload {
  background: var(--white-color);
  padding: 30px;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.uniqly .cus-upload .control-label {
  font-size: var(--normal-font-size);
  color: var(--gray-100);
  font-weight: 600;
}
.uniqly .cus-upload .box {
  position: relative;
  background: #ffffff;
  width: 100%;
}
.uniqly .cus-upload .box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
.uniqly .cus-upload .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.uniqly .cus-upload .dropzone-wrapper {
  margin-top: 4px;
  border: 2px dotted var(--gray-600);
  border-radius: 6px;
  position: relative;
  height: 262px;
  width: 100%;
  display: block;
}
.uniqly .cus-upload .dropzone-desc {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
  font-size: 16px;
}
.uniqly .cus-upload .dropzone-desc p {
  color: var(--gray-200);
  font-weight: 600;
  margin-bottom: 18px;
}
.uniqly .cus-upload .dropzone-desc svg {
  width: 58px;
  height: 53px;
  color: var(--gray-400);
}
.uniqly .cus-upload .dropzone,
.uniqly .cus-upload .dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}
.uniqly .cus-upload .dropzone-wrapper:hover,
.uniqly .cus-upload .dropzone-wrapper.dragover {
  background: var(--gray-700);
}
.uniqly .cus-upload .preview-zone {
  text-align: center;
}
.uniqly .cus-upload .preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
.uniqly .cus-upload.small .dropzone-wrapper {
  height: 100px;
}
.uniqly .cus-upload.small .dropzone-desc p {
  color: var(--gray-200);
  font-weight: 600;
  margin-bottom: 0;
}
.uniqly .cus-upload.small .dropzone-desc svg {
  display: none;
}
.uniqly .cus-upload.small.rounded .dropzone-wrapper {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
.uniqly .cus-upload.small.rounded .dropzone-desc {
  width: 100%;
  padding: 40px 18px;
}
.uniqly .cus-upload.small.rounded .dropzone-desc p {
  color: var(--gray-200);
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}
.uniqly .cus-upload.small.rounded .dropzone-desc svg {
  display: none;
}
.uniqly .one-line-upload-file {
  margin-top: 10px;
}
.uniqly .one-line-upload-file .file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 6px 0px 0px 6px;
}
.uniqly .one-line-upload-file .file-upload .file-select {
  display: block;
  border: 1px solid var(--gray-600);
  color: var(--gray-600);
  color: var(--gray-100);
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.uniqly .one-line-upload-file .file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 15px;
  display: inline-block;
  border-radius: 6px 0px 0px 6px;
}
.uniqly .one-line-upload-file .file-upload .file-select .file-select-name {
  display: inline-block;
  padding: 15px;
}
.uniqly .one-line-upload-file .file-upload.active .file-select {
  border-color: var(--success-color);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.uniqly .one-line-upload-file .file-upload.active .file-select .file-select-button {
  background: var(--success-color);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.uniqly .one-line-upload-file .file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.uniqly .one-line-upload-file .file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}
.uniqly .one-line-upload-file .file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: var(--gray-400);
  cursor: pointer;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.uniqly .one-line-upload-file .file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: var(--gray-200);
  display: inline-block;
}
.uniqly .one-line-upload-file .file-upload .file-select.file-select-disabled:hover .file-select-name {
  display: inline-block;
  padding: 15px;
}
.uniqly .dropdown-and-files {
  margin-top: 10px;
  display: flex;
}
.uniqly .dropdown-and-files .custom-select {
  background: var(--gray-100);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.uniqly .dropdown-and-files .custom-select .select-items {
  width: 230px;
}
.uniqly .dropdown-and-files .select-selected {
  color: var(--white-color);
  font-weight: 600;
}
.uniqly .dropdown-and-files .file-upload {
  flex-grow: 1;
}
.uniqly .dropdown-and-files .file-upload .file-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: local("inter"), url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "inter";
  margin: 0;
  overflow-x: hidden;
}

.page-transition-in {
  animation: page-transition-in 0.3s normal forwards;
}

.page-transition-out {
  animation: page-transition-out 0.3s normal forwards;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.mainpage {
  width: 100%;
  height: 100%;
  min-height: max-content;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}
.mainpage .fade-mainpage {
  position: fixed;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 0.1%, rgba(255, 255, 255, 0) 99.9%, #fff 100%);
  z-index: 5;
  pointer-events: none;
}

.top-divide {
  height: 150px;
}
@media (max-width: 600px) {
  .top-divide {
    height: 125px;
  }
}

@media (max-width: 600px) {
  .hide-phone {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .hide-tablet-phone {
    display: none !important;
  }
}

@media (min-width: 901px) {
  .hide-desktop {
    display: none !important;
  }
}

.heading1 {
  font-size: 56px;
  line-height: 65px;
}
.heading1 strong {
  font-weight: 600;
}
@media (max-width: 900px) {
  .heading1 {
    font-size: 31px;
    line-height: 34px;
  }
  .heading1 strong {
    font-weight: 600;
  }
}

.heading2 {
  font-size: 39px;
  line-height: 48px;
}
.heading2 strong {
  font-weight: 600;
}
@media (max-width: 900px) {
  .heading2 {
    font-size: 22px;
    line-height: 34px;
  }
  .heading2 strong {
    font-weight: 600;
  }
}

.heading3 {
  font-size: 31px;
  line-height: 43px;
}
.heading3 strong {
  font-weight: 600;
}
@media (max-width: 900px) {
  .heading3 {
    font-size: 20px;
    line-height: 31px;
  }
  .heading3 strong {
    font-weight: 600;
  }
}

.heading4 {
  font-size: 20px;
  line-height: 31px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .heading4 {
    font-size: 17px;
    line-height: 31px;
    font-weight: 600;
  }
}

.subtitle-text {
  font-size: 26px;
  line-height: 36px;
}
@media (max-width: 900px) {
  .subtitle-text {
    font-size: 17px;
    line-height: 27px;
  }
}

.body-text {
  font-size: 15px;
  line-height: 26px;
}
@media (max-width: 900px) {
  .body-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.large-body-text {
  font-size: 20px;
  line-height: 31px;
}
@media (max-width: 900px) {
  .large-body-text {
    font-size: 17px;
    line-height: 24px;
  }
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes page-transition-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page-transition-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.uniqly {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 899px) {
  .uniqly {
    background-color: #FFFFFF;
  }
}
.uniqly .version-text {
  position: absolute;
  font-size: 10px;
  font-weight: 200;
  color: #7d8597;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.uniqly .login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 500px;
  width: calc(100% - 100px);
  box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 899px) {
  .uniqly .login-container {
    width: 100%;
  }
}
.uniqly .login-container .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}
.uniqly .login-container .login-content .logo {
  max-width: 150px;
  width: 90%;
}
.uniqly .login-container .login-content .logo img {
  width: 100%;
}
@media (max-width: 899px) {
  .uniqly .login-container .login-content {
    padding: 20px;
    width: calc(100% - 40px);
    box-shadow: 0px 12px 42px rgba(0, 0, 0, 0);
    gap: 20px;
  }
}
.uniqly .login-container .login-content .sub-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}
@media (max-width: 899px) {
  .uniqly .login-container .login-content .sub-title {
    font-size: 25px;
  }
}
.uniqly .login-container .login-content .remember-me {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 899px) {
  .uniqly .login-container .login-content .remember-me {
    font-size: 12px;
  }
}
.uniqly .login-container .login-content .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  gap: 8px;
  border: 0;
  width: 100%;
  padding: 16px 0;
  background: #3AAFC3;
  border-radius: 6px;
  color: #FFFFFF;
}
.uniqly .login-container .login-content .submit-button:hover {
  cursor: pointer;
  background: #3ebad0;
}
.uniqly .login-container .login-content .divider-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto max-content auto;
  width: 100%;
}
.uniqly .login-container .login-content .divider-wrapper .divider {
  margin-top: 10px;
  width: 100%;
  height: 0px;
  border: 1px solid #E5E6E9;
  flex: none;
}
.uniqly .login-container .login-content .divider-wrapper a {
  text-align: center;
  display: block;
  padding: 0 20px;
}
.uniqly .login-container.login-2 .login-content {
  justify-content: right;
  align-items: flex-start;
}
.uniqly .login-container.login-2 .login-content .logo {
  max-width: 80px;
  width: 100%;
}
.uniqly .login-container.login-2 .login-content ul.some-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.uniqly .login-container.login-2 .login-content ul.some-icons-container li {
  display: block;
  background: #FFFFFF;
  color: #979DAC;
  border: 1px solid #E5E6E9;
  border-radius: 8px;
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uniqly .login-container.login-2 .login-content ul.some-icons-container li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}